.page {
	display: flex;
	align-items: stretch;
	height: 100%;
}

.page-basic{
	position: relative;
	flex-grow: 1;
	background-image: url(picture/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	display: flex;
	flex-basis: 10%;
	justify-content: flex-end;
	width: 60%;
	align-items: flex-end;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	flex-wrap: wrap;
}

footer div {
	margin-bottom: 1%;
}

.logo {
	margin-right: auto;
	margin-left: 5%;
	flex-grow: 1;

}

footer.menu .sign {
	margin-right: 5%;
}

footer div:not(.logo) {
	margin-right: 3%;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 1.2em;
	transition: color 0.3s ease;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
	line-height: 2.3em;
}

footer div:not(.logo):hover {
	color: rgba(255, 255, 255, 1);
}

.menu-button {
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	right: 5%;
	top: 2%;
}

.menu-button:focus {
	outline: none;
}

main {
	width: 70%;
	height: 100%;
}

.form-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: inherit;
}

.form-content div:not(.locations) {
	margin-top: 6%;
}

.form-locations {
	display: flex;
	justify-content: space-between;
	height: 10%;
	position: relative;
}

.form-locations img {
	margin: 20px 10px;
}

select {
	display: block;
	background: none;
	border: 2px solid #fff;
	border-radius: 30px;
	height: 3.5em;
	width: 19em;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.7);
	padding-left: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
}

select:focus {
	outline: none;
}

input:focus {
	outline: none;
}

.form-locations div:nth-child(1)::after {
	content: "";
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 56px;
	left: 250px;
	transform: rotate(45deg);
	pointer-events: none;
}

.form-locations div:nth-child(3)::after {
	content: "";
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	position: absolute;
	width: 12px;
	height: 12px;
	top: 56px;
	left: 630px;
	transform: rotate(45deg);
	pointer-events: none;
}

select > option {
	color: rgba(0, 0, 0, 1);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label{
	border: 2px solid #fff;
	border-radius: 30px 0 0 30px;
	height: 3.5em;
	width: 10em;
	padding-left: 30px;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.7);
	line-height: 3.2em;
}

input{
	border: 2px solid #fff;
	border-left: none;
	border-radius: 0 30px 30px 0;
	height: 2.5em;
	width: 14em;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 1.5em;
	padding-left: 20px;
	color: #5a0084;
}

.input {
	display: flex;
}

#amount, #account {
	background: rgba(255, 255, 255, 0.5);
}

.print {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.form-print {
	background: none;
	border: none;
	cursor: pointer;
}

.page-sidebar {
	display: none;
	background: #5a0084;
	min-width: 20%;
}

.img2 {
	display: none;
}

.page-sidebar > div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 60%;
	margin-left: 5%;
}

.sidebar div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.sidebar div:not(.sidebar-checkbox):not(.sidebar-title) {
	cursor: pointer;
}

.sidebar div > span {
	color:rgba(255, 255, 255, 0.8);
	font-family: Trebuchet MS, Helvetica, sans-serif;
	margin-left: 3%;
}

.sidebar-title span:nth-child(2) {
	color:#ffec00;
}

.sidebar-title img {
	margin-left: 10%;
	cursor: pointer;
}

.sidebar-title {
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	flex-basis: 11%;
	flex-wrap: wrap-reverse;
	padding: 5% 0;
}

.sidebar-checkbox input {
	display: none;
}

.sidebar-checkbox label {
	display: block;
	background-image: url(picture/08.png);
	background-repeat: no-repeat;
	background-size: 120%;
	border: none;
	height: 28px;
	width: 28px;
	padding: 0;
	margin-top: 4px;
}

.sidebar-checkbox input:checked + label {
	background-image: url(picture/09.png);
}

.sidebar-checkbox input:checked ~ span {
	color: #ffec00;
}

.sidebar-checkbox + div {
	margin-top: -4px;
}
