header {
	display: flex;
	justify-content: center;
	height: 100px;
	background: linear-gradient(to top, #000, #3e4345);
	position: relative;
}

.basic{
	display: flex;
	width: 67%;
	justify-content: space-between;
	align-items: flex-end;
	background: linear-gradient(to top, #000, #3e4345);
}

.titles{
position: relative;
display: flex;
top: 12%;
width: 85%;
height: 30%;
}

.titles button{
flex-grow: 1;
font-family: Trebuchet MS1, Helvetica, sans-serif;
font-size: 0.9em;
color: #d4d4d4;
background: linear-gradient(to top, #373b3d, #3f4345);
border-left: 1px solid #4a4e50;
border-right: 1px solid #2c3031;
}

.titles_button{
	border-bottom: none;
	border-top: 1px solid #4a4e50;
}

.children{
	border-top: 4px solid #f26c4f;
	border-bottom: none;
}

.accessories{
	border-bottom: 4px solid #acd373;
	border-top: 1px solid #4a4e50;
}

.titles .line:focus{
	outline: none;
	border-top: 1px solid #303133;
	border-left: none;
	background: #2f3233;
}

.titles .children:focus{
	outline: none;
	border-left: none;
	background: #2f3233;
}

.titles .children:focus{
	background: linear-gradient(to top, #35393c, #303133);
}

.titles .accessories:focus{
	background: linear-gradient(to top, #272b2d, #3c3f41);
	border-top: 1px solid #494d4e;
}

.languages button{
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
}

.languages button:focus{
	outline: none;
}

.basic_content{
	display: flex;
	justify-content: center;
	height: 1000px;
}

.content{
	width: 67%;
	background: #eee;
}































.tabs{
	display: flex;
	background: #eee;
	height: 200px;
	width: 600px;
	margin: 200px;
	position: relative;
}

.tabs_style{
	position: absolute;
	height: 150px;
	width: 600px;
	background: yellow;
	margin-top: 20px;
	display: none;
}

.color{
	display: none;
}

.black{
	display: inline-block;
}

label{
	display: block;
}

label span{
	color: blue;
	font-size: 1.23em;
	display: inline-block;
	vertical-align: top;
}

input:checked + label span {
    color: #000;
	   }

input:checked + label .color {
    display: inline-block;
	   }

input:checked + label .black {
    display: none;
	   }

input:checked + label + div  {
    display: block;
	   }

input:checked + label   {
    background: white;
	   }

label{
	background: green;
	display: inline-block;
}

.tabs input{
	display: none;
}
